@import url(./Sidebar/Sidebar.css);
@import url(../../Components/Card/Card.css);

.productlist-container{
    width: 100%;
    display: flex;
}

.recommended-videos{
    width: 100%;
    padding: 1rem;
    display: flex;
    /* flex:1 1 0; */
    flex-wrap: wrap;
    gap: 0.5rem;
  }

  /* .loader{
    margin: auto;
    width: 100%;
    height: max-content;
  } */
