.chips-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 0.5rem;
    background-color: var(--background-grey-color);
    cursor: pointer;
    z-index: 1;
}

.chips{
    border: 1px solid var(--button-color);
    border-radius: 1rem;
    background-color: var(--menu-bar);
    color: var(--primary-text-color);
    width: max-content;
    padding: 0.5rem 1rem 0.5rem 1rem;
    cursor: pointer;
}

.chips:hover{
    background-color: var(--primary-text-color);
    color: var(--menu-bar);
}

.chips.selected{
    border: 1px solid var(--button-color);
    background-color: var(--primary-text-color);
    color: var(--menu-bar);
}
