@import url(./Logo/Logo.css);

.header-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 1rem;
    background-color: var(--menu-bar);
    position: relative;
}

.user-search-container{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: left;
    align-items: center;
    font-size: 1.1rem;
    cursor: pointer;
}

.user-result-img-cont{
    height: 6rem;
    width: 6rem;
}

.header-link{
    text-decoration: none;
}
.user-result-img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.user-result-title-cont{
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: left;
}

.search-form{
    flex-grow: 0.4;
    order: 0;
    display: flex;
    text-align: center;
    border: 1px solid var(--button-color);
    position: relative;
}

.search-dropdown{
    position: absolute;
    width: 100%;
    min-height: 2rem;
    height: max-content;
    top: 3rem;
    border: 1px solid var(--button-color);
    background-color: var(--white-color);
    border-bottom-right-radius: 0.3rem;
    border-bottom-left-radius: 0.3rem;
    max-height:80vh;
    overflow-y: scroll;
}

.search{
    flex-grow: 1;
    display: flex;
    text-align: center;
    border: 1px solid var(--button-color);
    position: relative;
}

.search input{
    flex-grow: 1;
    padding: 0.6rem;
    border: none;
    outline: none;
    background-color: var(--white-color);
    color: var(--menu-color);
    position: relative;
}

.search-icon{
    width: 3.125rem;
    padding:0.6rem;
    cursor: pointer;
    color: var(--menu-color);
    background-color: var(--cta-color);
    border: none;
}

.login-btn{
    height: fit-content;
    align-items: center;
    border: none;
    border-radius: 0.2rem;
    background-color: var(--cta-color);
    color: var(--menu-color);
    padding: 0.5rem;
    font-size: 1.1rem;
    font-weight:500;
    cursor: pointer;
}

.login-btn:hover{
    opacity: 0.8;
}

.header-right{
    display: flex;
    gap: 2rem;
    align-items: center;
    order: 1;
}


@media screen and (max-width: 600px) {
    .search-form{
        order: 1;
        margin-top: 0.5rem;
        width: 100%;
    }

    .header-right{
        order: 0;
        gap:1rem;
        font-size:0.9rem
    } 
  }

.user-result-category{
    padding:0 1rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.flex{
    display: flex;
}