.sidebar{
    flex: 0 0 17rem;
    background-color: var(--background-grey-color);
    padding: 0;
}

input{
    cursor: pointer;
}

.price-range-filter{
    width: 100%;
}

.sidebar-wrap{
    padding: 1rem;
    position: sticky;
	top: 20vh;
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    height: 80vh;
    overflow-y: scroll;
}

.sidebar-child{
    width: 100%;
    height: max-content;
    padding: 0.5rem;
    border-radius: 0.1rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    font-weight: 500;
    font-size: 1.2rem;
}

.sidebar-child-wrapper{
    font-size: 0.95rem;
    width: 100%;
    margin: 0.5rem 0 0.5rem 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: var(--white-color);
    padding: 1rem;
    box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.2);
}


.sidebar-child span{
    margin: 0 1rem 0 1rem;
    width: 1rem;
}

.action-container{
    text-align: left;
    justify-content: left;
}

.action-container-radio{
    display: flex;
    gap: 0.5rem;
    text-align: left;
    align-content: center;
    align-items: center;
    justify-content: left;
    cursor: pointer;
}

.clear-sidebar{
    cursor: pointer;
}
.sidebar-child.selected{
    background-color: var(--button-color);
}

.label-containers{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width:600px){
    .sidebar{
        position: absolute;
        width: 100%;
        visibility: hidden;
    }

    .sidebar-wrap{
        height: 72vh;
        overflow-y: scroll;
    }
}

.display-none{
    display: none;
}

@media screen and (min-width:600px){
    .display-none{
       display: contents;
    }
}

.visibility-visible{
    visibility: visible;
}


.sidebar-toggle-button{
    padding: 0.3rem;
    font-weight: bold;
    text-align: center;
    border: 2px solid var(--icon-color);
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 999;
    background-color: var(--white-color);
    border-top-right-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
    visibility: hidden;
}

@media screen and (max-width:800px){
    .sidebar-toggle-button{
        visibility: visible;
    }
}